{% extends "base.html" %}

{% block header %}
<style>
    .container {
        /* display: flex; */
        margin: 10px 120px auto;
    }

    .res-container {
        /* display: flex; */
        width: 65%;
    }

    .page-result {
        text-align: left;
        margin-top: 20px;
        /* width: 50%; */
    }

    .page-result>.page-title {
        margin-top: 5px;
        margin-bottom: 8px;
    }

    .page-result a {
        font-size: 18px;
        color: #258cdb;
        text-decoration: none;

    }

    .page-result a:hover {
        color: #053375;
        text-decoration: underline;
    }

    .page-result a:visited {
        color: #053375;
        text-align: none;
    }

    .page-result p {
        color: gray;
        font-size: 15px;
    }

    .search_header {
        display: flex;
        padding: 20px 0;
    }

    .search_header .home {
        color: #053375;
        font-size: 28px;
        margin-top: 5px;
        text-decoration: none;
    }

    .search_header input {
        width: 400px;
        height: 42px;
        background-color: white;
        border: 1px solid gray;
        outline: 0;
        font-size: 15px;
        color: #000;
        border-radius: 50px;
        float: right;
    }

    .search_header form {
        border-radius: 3px;
        margin-left: 50px;
        width: 85%;
        height: 25px;
        max-width: 400px;
        z-index: 10;
        border-radius: 50px;
    }

    .search_header button {
        background: none;
        top: -2px;
        right: 0;
    }

    .search_header button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: large;
        color: gray;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <div class="search_header">
            <a href="/" class="home">Search Engine</a>
            <form role="form" action="query" method="get">
                <input type="text" name="key" placeholder="请输入搜索内容...">
                <button type="submit"></button>
            </form>
        </div>
        <hr />
        <p style="color: gray; font-size: 13px;">About {{ num }} results ({{ time }} seconds)</p>
    </div>
    <div>
        <div class="res-container">
            {% for res in results %}
            <div class="page-result">
                <div class="page-url">
                    <p>{{ res['url'] | truncate(50) }}</p>
                </div>
                <div class="page-title">
                    <a href="{{ res['url'] }}">{{ res['title'] | safe }}</a>
                </div>
                <div class="page-body">
                    <p>{{ res['abstract'] | safe}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div></div>
    </div>
    <br/><hr/><br/><br/>
</div>
{% endblock %}